* {
    margin: 0;
    padding: 0;
    font-weight: 650;
}

body {
    background-color: #fff;
    /* 一般統一14或13 */
    font-size: 16px;
}
input {
    /* 去除邊框 */
    border: 0;
    /* 去除聚焦框 */
    outline: none;
}
ul, ol, li {
    list-style: none;
}
a {
    /* 去除底線 */
    text-decoration: none;  
    /* 字體顏色 */
    color: black;
    /* 鼠標小手 */
    cursor: pointer;
}
img {
    /* 去邊框 */
    border: none;
}